/*******************           Master Style Sheet      ***************/


/******** FONTS *********/
@font-face {
    font-family: 'vanillaregular';
    src: url('../fonts/vanilla-webfont.woff2') format('woff2'),
         url('../fonts/vanilla-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'folksbold';
    src: url('../fonts/folks-bold-webfont.woff2') format('woff2'),
         url('../fonts/folks-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'soft_marshmallowregular';
    src: url('../fonts/soft_marshmallow-webfont.woff2') format('woff2'),
         url('../fonts/soft_marshmallow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/************************/

html{
    font-size: 16px;
}



*{
	margin: 0;
    box-sizing:border-box;
}


/**********SPLASH BACKGROUND**************/


#splash{
	background: black;
    height: 861px;
    width:100%;
}

#splash p{
	font-size: 3.125rem; /*50px */
	color: white;
    width: 100%;
	text-align: center;
    line-height: 50px; 
    padding-top: 7%;
	font-family: 'vanillaregular';
}

#splash img{
    margin: auto 0;
    text-align: center;
    padding-left: 30%;
    padding-top: 12%;
}

#splash a{
    position: absolute;
}


/***************MAIN CONTENT*************************/


#storytime {
    font-family: 'folksbold';
    font-size: 3rem;
    margin: 0 auto;
    width: 100%;
    text-align:center;
}

.smoothScroll{
    width:100%;
}

.link{
    padding-top: 3%;
    text-align: center;
}

/** even row **/
.rowO{
    width:100%;
    padding-bottom: 20%;
    padding-top: 10%;
}

img .pawO{
    float: left;
}

.pawO{
    padding-right: 10%;
    width:45%;
}

.imgO{
    width:40%;
}

img .imgO{
    float: right;
}

/** odd row **/

.rowE{
    width: 100%;
    padding-bottom: 10%;
    padding-top: 10%;
}

img .pawE{
    float:right;
}

.pawE{
    width: 40%;
}

img .imgE{
    float:left;
}

.imgE{
    width: 40%;
}


/** special image **/

.imgK{
    padding-left: 11.8%;
}

/*****FOSTERING SECTION******/

#fostering{
    padding-top:25%;
}

#fostering h2{
    font-family: 'vanillaregular';
    font-size: 3.125rem;/*50px*/
    width:100%;
    text-align: center;
    padding-bottom: 10%;
    padding-top: 16%;
}

#fostering p{
    font-family: 'folksbold';
    font-size: 2rem;
    text-align: center;
}

#fostering .pic{
    text-align: center;
    width: 100%;
}

/**********CONTACT SECTION*******************/

#contact {
    padding: 16%;
}

#contact p{
    text-align: center;
}

.link1 {
    float:left;
}

.link2{
    float: right;
}

#contact a:link{
    color:black;
    text-decoration: none;
    font-family: 'soft_marshmallowregular';
    font-size: 3.125rem;
}

#contact  a:visited{
    color:black;
    text-decoration: none;
}

#contact a:hover{
    color: red;
}

#contact p{
    font-family: 'vanillaregular';
    font-size: 3.125rem;
    padding-bottom: 3%;
}


/*********FOOTER**************/
footer{
    padding:1.5%;
    text-align:center;
    font-family: 'soft_marshmallowregular';
}

