/*THANK YOU STYLE SHEET*/

@import url('cs/normalize.css');
/********************/
@font-face {
    font-family: 'soft_marshmallowregular';
    src: url('../fonts/soft_marshmallow-webfont.woff2') format('woff2'),
         url('../fonts/soft_marshmallow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*************************/


html{
    font-size: 16px;
}

/*first image*/
#row {
    width:100%;
}

#row img{
    float: left;
    clear: right;
    padding-left:10%;
    width: 50%;

}

/*************/



/*Second Image*/
#row2{
    width:100%;
}

#row2 img{
    padding-right:20%;
    float: right;
    width: 20%;
}

/**************/




/*LINK IMAGE*/
#link {
    width:100%;
}

#link a{
    display: block;
    width: 400px;
    height: 500px;
    background: url('../images/bluelink.svg') bottom;
    text-indent: -99999px;
    padding-left: 10%;
    padding-top: 0;
    float:  left;
}

#link a:hover{
    background-image: url('../images/bluelink2.svg'); /*home appears in image*/
    background-repeat: no-repeat;
}

/*************/




/*FOOTER*/
footer{
    font-family: 'soft_marshmallowregular';
    width: 100%;
    text-align:center;
    position: absolute;
    bottom: 0;
}
/********/